@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
button,
input {
  cursor: pointer;
}
